# Chapitre 1

L'idée avec ce Chapitre c'est de pouvoir explorer le dataset dans sa globalité, essayer d'étudier les différentes corrélations entre les données et de pouvoir trouver des premiers insights ou patterns qui nous serviront par la suite pour le traitement de ces données

1. Data Exploration
2. Data Interpretation
3. Data Quality Problems
4. Data Cleaning
5. Text Processing
6. Data Transformation
7. Manifold Learning
8. Visualisation & Conclusions

In [2]:
import pandas as pd 
import polars as pl

In [3]:
"""Chargement du dataset en mode snapshot 
La data choisie est le 20-10-2025, certaines données peuvent varier mais pour l'instant on part du principe que ce dataset est représentatif
pour les travaux à venir"""

#Chargement du snapshot va se faire avec pandas mais à terme on va migrer sur du polars ...  ,
# plus rapide et avec du multithreading mais on va devoir faire du casting vers pandas pour les librairies comme scikit ou seaborn ... 

SNAPSHOT = "snapshot_dataset_20_10_2025.csv"
CHEMIN_FICHIER = f"./data/{SNAPSHOT}"  

DATASET = pd.read_csv(CHEMIN_FICHIER)
print(DATASET.shape)
print(DATASET.dtypes)

(28180, 18)
Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Affichage des informations générales sur le dataset

In [4]:
print(DATASET.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28180 entries, 0 to 28179
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28180 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28180 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         28099 non-null  object
 3   Job title                                                                                                                                                                                                                             28178 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7284 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28180 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20824 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28180 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        217 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3050 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28180 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23124 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             28098 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28180 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28180 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27944 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27998 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27990 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB
None

*** Remarque *** : Ici on remarque que nous avons une colonne numérique au premier abord qui est : How much additional monetary compensation do you have , donc les bonus etc est la seule colonne numérique directement, cependant le annual salary n'est pas en float ... faudra faire le casting.

Cette colonne inclut pas le remboursement du titre de transport, tickets resto etc ...

## Renommage des colonnes
Pour commencer la visualisation et l'exploration plus détaillée, l'idée c'est de renommer les colonnes avant pour un meilleur confort visuel

In [5]:
df = DATASET
#Supposition : TODO autres_devises devrait être probablement fusionné avec devise, car c'est juste un formulaire et le choix se portait sur les plus connues
# TODO : concaténer état et pays si c'est USA , ville pas forcèment.... 
nouvelles_colonnes = ["timestamp","tranche_age","industrie_travail","intitule_poste","intitule_poste_contexte_supp","salaire_annuel","bonus",
"devise","autre_devise","contexte_revenus","pays_travail","etat_travail","ville_travail","experience_generale","experience_domaine",
"diplome","genre","race"]

def renommer_colonnes(df:pd.DataFrame, nouvelles_colonnes : list) -> pd.DataFrame : 
    dictionnaire_colonnes = {}
    for anc_col , nouv_col in zip(df.columns,nouvelles_colonnes):
        dictionnaire_colonnes[anc_col]=nouv_col
    df_nouveau = df.rename(columns=dictionnaire_colonnes)
    return df_nouveau

df_colonnes = renommer_colonnes(df,nouvelles_colonnes)
print(df_colonnes.head())

            timestamp tranche_age              industrie_travail  \
0  4/27/2021 11:02:10       25-34   Education (Higher Education)
1  4/27/2021 11:02:22       25-34              Computing or Tech
2  4/27/2021 11:02:38       25-34  Accounting, Banking & Finance
3  4/27/2021 11:02:41       25-34                     Nonprofits
4  4/27/2021 11:02:42       25-34  Accounting, Banking & Finance

                             intitule_poste intitule_poste_contexte_supp  \
0        Research and Instruction Librarian                          NaN
1  Change & Internal Communications Manager                          NaN
2                      Marketing Specialist                          NaN
3                           Program Manager                          NaN
4                        Accounting Manager                          NaN

  salaire_annuel   bonus devise autre_devise contexte_revenus    pays_travail  \
0         55,000     0.0    USD          NaN              NaN   United States
1         54,600  4000.0    GBP          NaN              NaN  United Kingdom
2         34,000     NaN    USD          NaN              NaN              US
3         62,000  3000.0    USD          NaN              NaN             USA
4         60,000  7000.0    USD          NaN              NaN              US

     etat_travail ville_travail experience_generale experience_domaine  \
0   Massachusetts        Boston           5-7 years          5-7 years
1             NaN     Cambridge        8 - 10 years          5-7 years
2       Tennessee   Chattanooga         2 - 4 years        2 - 4 years
3       Wisconsin     Milwaukee        8 - 10 years          5-7 years
4  South Carolina    Greenville        8 - 10 years          5-7 years

           diplome       genre   race
0  Master's degree       Woman  White
1   College degree  Non-binary  White
2   College degree       Woman  White
3   College degree       Woman  White
4   College degree       Woman  White

In [6]:
def comparaison_colonnes(df:pd.DataFrame,col1:str,col2:str):
    """Prendre deux colonnes et essayer de comparer les résultats """
    for i , row in df.iterrows():
        if str(row[col2])!="nan":
            print(f"indice {i} : {row[col1]} {row[col2]}\n\n")


def get_pourcentage_valeurs_nulles(df: pd.DataFrame , colonne : str ) -> float : 
    """prend une colonne en particulier et retourne le pourcentage de valeurs nulles contenant"""
    return (df[colonne].isnull().sum()/df.shape[0])*100


# comparaison_colonnes(df_colonnes,"devise","autre_devise")

seuil_valeurs_nulles = 10 #10% sont nulles 
for colonne in df_colonnes.columns : 
    if get_pourcentage_valeurs_nulles(df_colonnes,colonne) >= 10 : 
        print(f"colonne {colonne} est nulle à {get_pourcentage_valeurs_nulles(df_colonnes,str(colonne))}")

colonne intitule_poste_contexte_supp est nulle à 74.15188076650107
colonne bonus est nulle à 26.103619588360537
colonne autre_devise est nulle à 99.22995031937545
colonne contexte_revenus est nulle à 89.17672107877928
colonne etat_travail est nulle à 17.94180269694819

Observations : 

. colonne autre devise vide à 99% => envisager factorisation

. colonne devise pas vide mais cas où nous avons des others, cas autres devises obligatoire

. colonne bonus 26% nulles mais peut être pertinente ...

. etat_travail nulle à 18% indique que la plupart des travailleurs viennent des US .. à voir si c'est vraiment pertinent ou si on factoriserait pas selon le besoin

. contexte revenus nulle à 90% mais à garder certains pouvant justifier leurs revenus avec ça

. intitule poste contexte nulle à 75% .. à garder pour l'instant

In [7]:
comparaison_colonnes(df_colonnes,"devise","autre_devise")

indice 434 : Other INR


indice 603 : Other Peso Argentino


indice 752 : USD $76,302.34


indice 766 : USD My bonus is based on performance up to 10% of salary


indice 776 : USD I work for an online state university, managing admissions data. Not direct tech support.


indice 1001 : USD 0


indice 1311 : Other MYR


indice 1840 : Other CHF


indice 1915 : USD KWD


indice 1924 : Other NOK


indice 2048 : USD Na


indice 2054 : Other NOK


indice 2473 : Other USD


indice 2639 : Other BR$


indice 2980 : Other SEK


indice 3124 : USD Base plus Commission


indice 3145 : CAD canadian


indice 3162 : Other Dkk


indice 3261 : Other EUR


indice 3605 : USD COP


indice 3937 : Other NOK


indice 4264 : Other TTD


indice 4499 : Other Indian rupees


indice 4780 : Other BRL (R$)


indice 4971 : Other Mexican pesos


indice 5146 : Other CZK


indice 5306 : Other CZK


indice 5396 : Other GBP


indice 5729 : Other NOK


indice 5871 : Other GBP


indice 6128 : Other DKK


indice 6765 : Other Bdt


indice 6802 : USD RSU / equity


indice 6969 : Other ZAR


indice 7233 : EUR Additonal = Bonus plus stock


indice 7402 : Other American Dollars


indice 7537 : Other DKK


indice 7545 : Other Php


indice 7739 : Other PLN (Polish zloty)


indice 7915 : USD Overtime (about 5 hours a week) and bonus


indice 7953 : Other czech crowns


indice 8004 : USD Stock


indice 8087 : Other TRY


indice 8380 : Other DKK


indice 8437 : Other Norwegian kroner (NOK)


indice 8502 : Other CNY


indice 8650 : Other ILS/NIS


indice 9108 : Other Dkk


indice 9284 : USD 55,000


indice 9384 : AUD/NZD AUD & NZD are not the same currency...


indice 9410 : Other US Dollar


indice 9592 : CAD Canadian


indice 9657 : AUD/NZD AUD


indice 9845 : Other BRL


indice 9847 : Other NIS (new Israeli shekel)


indice 9921 : AUD/NZD -


indice 9955 : Other RMB (chinese yuan)


indice 9981 : Other AUD


indice 10150 : Other USD


indice 10374 : Other Taiwanese dollars


indice 10667 : AUD/NZD AUD and NZD aren't the same currency, and have absolutely nothing to do with each other :(


indice 10782 : AUD/NZD NZD


indice 10904 : Other Philippine Peso


indice 10948 : Other BRL


indice 10978 : Other INR


indice 11212 : Other SGD


indice 11234 : Other KRW (Korean Won)


indice 11327 : Other Czk


indice 11332 : Other THB


indice 11434 : Other USD


indice 11454 : Other IDR


indice 11457 : Other Sgd


indice 11589 : Other NOK


indice 11610 : Other Nok


indice 11620 : Other DKK


indice 11657 : EUR NOK


indice 11668 : Other SGD


indice 11692 : Other NZD


indice 11719 : Other ILS (Shekel)


indice 11734 : USD 6000 in stock grants annually


indice 11737 : Other DKK


indice 11760 : Other China RMB


indice 11788 : Other USD


indice 11793 : AUD/NZD AUD


indice 11824 : Other AUD Australian


indice 11883 : Other CZK


indice 11913 : Other LKR


indice 12248 : Other Polish Złoty


indice 12446 : Other DKK


indice 12481 : USD USD


indice 12650 : Other Philippine peso (PHP)


indice 13218 : Other Australian Dollars


indice 13295 : Other PHP


indice 14072 : GBP NOK


indice 14132 : Other MYR


indice 14331 : USD Many non-salary benefits - travel, free healthcare for self, very low for family, non-taxable housing allowance


indice 14915 : Other Equity


indice 15065 : GBP It’s marketed as £22000 but we get paid pro-rats, so no pay for the school holidays.


indice 15160 : Other BRL


indice 15969 : Other MYR


indice 16139 : USD additional compensation is for overtime (i am paid hourly) so it varies. i have included an estimate


indice 16210 : Other ARS


indice 16395 : Other Argentinian peso (ARS)


indice 16627 : Other Israeli Shekels


indice 16722 : Other ILS


indice 16982 : Other MXN


indice 17113 : Other PhP (Philippine Peso)


indice 17547 : USD Converted mine into USD for your easyness


indice 17575 : Other BRL


indice 17588 : USD USD


indice 17608 : Other BRL


indice 17871 : Other PLN


indice 18197 : Other AUD


indice 18495 : Other SGD


indice 18498 : Other KRW


indice 18601 : AUD/NZD AUD


indice 18662 : Other SAR


indice 18757 : Other INR


indice 18793 : Other INR


indice 18827 : Other MYR


indice 18930 : Other RM


indice 18943 : Other CZK


indice 18947 : Other PLN


indice 18984 : Other IDR


indice 19066 : Other MYR


indice 19250 : Other Argentine Peso


indice 19323 : Other Philippine Pesos


indice 19416 : Other USD


indice 19437 : Other CNY


indice 20097 : Other INR


indice 20373 : Other Ils


indice 20846 : Other MYR


indice 21036 : Other USD


indice 21240 : Other MYR


indice 21293 : CHF Rs


indice 21320 : Other INR


indice 21322 : Other INR (Indian Rupee)


indice 21350 : Other NTD


indice 21499 : Other USD


indice 21545 : Other Danish Kroner


indice 21995 : Other NOK


indice 22826 : Other CAD


indice 22871 : Other Korean Won


indice 22887 : Other MYR


indice 22927 : Other ILS


indice 23011 : Other SGD


indice 23106 : Other DKK


indice 23123 : Other dkk


indice 23477 : Other NOK


indice 23481 : Other MXN


indice 23490 : Other KRW


indice 24198 : Other Euro


indice 24832 : Other SGD


indice 24843 : Other SGD


indice 24884 : Other NTD


indice 24949 : Other Mexican Pesos


indice 24972 : Other NZD


indice 25063 : Other DKK


indice 25294 : Other BRL


indice 25539 : Other USD


indice 25548 : Other THAI  BAHT


indice 25550 : AUD/NZD NZD


indice 25613 : USD DKK


indice 25795 : USD Option to get 2x or 1.5x if taking on a weekend day in the summer


indice 26343 : Other SGD


indice 26424 : Other Thai Baht


indice 26531 : USD 47000


indice 26562 : USD na


indice 26590 : Other INR


indice 26722 : Other AUD


indice 26727 : CAD Canadian


indice 26747 : Other ARS


indice 26892 : USD N/a


indice 27131 : USD up to 12% annual bonus


indice 27191 : Other croatian kuna


indice 27216 : Other PLN (Zwoty)


indice 27368 : USD USD


indice 27504 : Other PLN


indice 27570 : Other NOK


indice 27602 : Other THB


indice 27630 : Other INR


indice 27634 : Other INR


indice 27642 : USD 5


indice 27729 : Other SGD


indice 27766 : AUD/NZD AUD


indice 27800 : Other Rupees


indice 27834 : Other Singapore Dollara


indice 27841 : Other PLN


indice 27846 : Other NGN


indice 27856 : Other PLN


indice 27857 : Other INR


indice 27897 : Other SGD


indice 27902 : Other COP


indice 27917 : Other SGD


indice 27923 : Other TRY


indice 27974 : USD pkr


indice 27988 : ZAR Zar


indice 28007 : USD 1


indice 28009 : USD ekignkfb


indice 28015 : GBP hhv


indice 28021 : USD rice


indice 28030 : USD HKD


indice 28045 : Other SGD


indice 28049 : EUR ff


indice 28054 : Other INR


indice 28061 : Other NGN


indice 28077 : Other SGD


indice 28093 : EUR other


indice 28096 : Other Rupees


indice 28100 : Other TZS


indice 28105 : Other Czk


indice 28110 : Other Pesos Colombianos


indice 28135 : USD NGN


indice 28144 : Other Thai Baht


indice 28150 : Other Philippine Peso


indice 28162 : USD other


indice 28177 : EUR 11

In [8]:
import matplotlib.pyplot as plt
from typing import Literal , List , Optional
import seaborn as sea

In [10]:
def visualisation_distribution_donnees(df : pd.DataFrame , colonne : str , type_graphique:Literal["bar","pie","hist"]) : 
    """visualiser selon le type de graphique et la colonne qu'on choisit"""
    figsize = (10,8)
    plt.figure(figsize=figsize)
    if type_graphique == "bar" : 
        sea.barplot(x=df[colonne].value_counts().index,y=df[colonne].value_counts().values)
        plt.title(f'Distribution de {colonne}')
        plt.xlabel(f'{colonne}')
        plt.ylabel('Count')
        plt.show()  
    if type_graphique == "pie":
        plt.pie(df[colonne].value_counts().values, labels=df[colonne].value_counts().index, autopct='%1.1f%%', startangle=90,labeldistance=1.2)
        plt.title(f'Distribution de {colonne}')
        plt.axis('equal') 
        plt.show()
    if type_graphique == "hist":
        sea.histplot(data=df,x=colonne,bins=300,log_scale=False)
        plt.ticklabel_format(style='plain', axis='x')  #désactive le exposant6 et affiche le chiffre dans son entièreté.
        plt.show()


def verifier_colonne_numerique(df:pd.DataFrame,colonne:str) -> None : 
    """Cette fonction viseprincipalement à faire en sorte de vérifier certaines colonnes numériques parfois problématiques"""
    print(df[colonne].describe())  
    print("Max:", df[colonne].max())
    print("Min:", df[colonne].min())


# df_colonnes["bonus"] = df_colonnes["bonus"].dropna()
moyenne = df_colonnes["bonus"].mean()
ecart_type = df_colonnes["bonus"].std()
print(df_colonnes['bonus'].dropna().sort_values())#on affiche le mode qui pour l'instant est à 0 .. ici 
# print("moyenne", moyenne ,"ecart_type",ecart_type,"mode")

# verifier_colonne_numerique(df_colonnes , "bonus")

0              0.0
16126          0.0
16128          0.0
16129          0.0
7170           0.0
           ...
18322    1400000.0
18279    1400000.0
26935    1500000.0
26980    2000000.0
28100    2000000.0
Name: bonus, Length: 20823, dtype: float64

Observation : on remarque que la valeur max en temps normal pour la colonne bonus la valeur max est à 12 millions, 
mà où la moyenne est beaucoup plus basse, dans ce cas on va décider de garder que les valeurs 3 sigmas au délà de la moyenne au délà on affiche la colonne pour investiguer 

Il s'agit d'un problème de la monnaie avec lesquels les gens sont payés ... faudra faire un comparatif sur la distribution de données apparatenant à la même catégorie devise ...